<footer class="relative">
    <div class="p-5 md-homepage:w-[90%] mt-10" id="contact">
        <p class="text-center mb-7 font-satoshi">hover - them | for - social</p>
        <div class="flex justify-evenly">
            <a [href]="home.instagram" target="_blank" class="bg-icon bg-instagram-[opacity-0] hover:bg-instagram"></a>
            <a [href]="home.linkedin" target="_blank" class="bg-icon bg-linkedIn-[opacity-0] hover:bg-linkedIn">
            </a>
            <a [href]="home.github" target="_blank" class="bg-icon bg-github-[opacity-0] hover:bg-github"></a>
        </div>
    </div>
    <span
        class=" inline-block w-max absolute bottom-14 left-[80%] font-mono font-clashDisplay hover:text-[cadetblue] transition-all duration-300"
        id="scrollUp"><a href="#home">SCROLL - UP</a>
    </span>
</footer>