<div class="p-4 md-homepage:grid lg:grid-cols-4">
    <div class="md-homepage:grid md-homepage:grid-cols-4 lg:col-span-4 gap-8">
        <section class=" p-6 rounded-3xl h-[100%] md-homepage:col-span-2 lg:col-span-2 w-[100%] dark:shadow-theme-dark">
            <div class="m-5">
                <h2 class="sm:tracking-widest text-5xl lg:text-[5rem] lg:text-start lg:tracking-[0.15em]">
                    <span *ngFor="let i of ['H','E','L','L','O','!']; let index = index"
                        class="letter-{{index}} inline-block">{{i}}</span>
                </h2>
                <div class="mt-8">
                    <p class="text-xl lg:text-[3rem] lg:text-start mt-20 ">I'm Ivo</p>
                    <p class="text-start text-[2rem] mt-8">~ Junior Full Stack Developer ~</p>
                </div>
            </div>
            <img [src]="me.src" alt=""
                class=" img w-[200px] aspect-[1/1] rounded-[50%] object-cover mt-10 mx-auto hover:scale-[1.1] transition-all duration-300">
            <p class="mt-10 font-erode text-xl leading-7">"Sono uno studente che sta seguendo un corso di sviluppo web
                con l'obiettivo di diventare un full stack developer. La mia passioneper la programmazione mi ha spinto
                a intraprendere questa strada e a sviluppare una solida comprensione delle basi.Sono entusiasta di
                mettere inpratica le competenze che stoacquisendo e di contribuire aprogetti reali. Sono determinato
                acrescere come sviluppatore.Il mio obiettivo di carriera èdiventare un membro prezioso diun team di
                sviluppo, imparandodagli esperti e contribuendo alsuccesso dei progetti ed accettarenuove sfide"
            </p>
            <div
                class="mt-20 shadow-2xl p-6 rounded-3xl hover:-translate-y-4 hover:text-white hover:bg-slate-400 transition-all duration-300 up">
                <p class="text-center mb-10">Io</p>
                <div class="md-homepage:flex justify-around leading-7">
                    <ul>
                        <li>Perseveranza</li>
                        <li>Costanza</li>
                        <li>Serietà</li>
                        <li>Curiosità</li>
                    </ul>
                    <ul class="text-end">
                        <li>Capacità di lavorare in gruppo</li>
                        <li>Ricerca</li>
                        <li>Disponibiltà</li>
                        <li>Coerente</li>
                    </ul>
                </div>
            </div>
        </section>
        <section
            class="font-erode shadow-2xl p-6 rounded-3xl mt-10 md-homepage:mt-0 md-homepage:col-span-2 text-[2.5rem] text-end dark:shadow-theme-dark">
            <p class="mb-5 font-satoshi">il mio background</p>
            <div *ngFor="let experience of obj.experiences; let i = index"
                class="flex justify-between items-center mb-5 text-sm">
                <div class="w-[14%] aspect-[1/1] rounded-full shadow-xl flex justify-center items-center overflow-hidden cursor-pointer bg-blue"
                    [ngClass]="{'experience-circle' : [1,3].includes(i)}" [title]="experience.title">
                    <img src="{{obj.timeLineImg[i].url}}" alt="not found" class="h-[50%] aspect-[1/1] img">
                </div>
                <div class="w-[70%] bg-slate-100 rounded-md shadow-xl cont story p-10 dark:text-black"
                    [ngClass]="{'text-start cont' : [1,3].includes(i)}">
                    <p>{{experience.title | uppercase}}</p>
                    <p>{{experience.text}}</p>
                    <p>{{experience.date}}</p>
                </div>
            </div>
        </section>
        <hr class="w-full col-span-full mt-10">
        <p class="p font-satoshi">tecnologie affrontate</p>
        <p class="p text-3xl transition-all duration-300 col-span-full font-satoshi mx-auto rounded-xl" id="cond"></p>
        <div
            class="grid grid-cols-2 place-items-center gap-6 language-container p-6 rounded-3xl font-mono dark:shadow-theme-dark">
            <p class="col-span-2 font-satoshi">moduli opzionali</p>
            <div *ngFor="let module of obj.optionalModule; let i = index"
                class="module cursor-pointer p-6 rounded-3xl flex flex-col justify-center items-center gap-4 relative"
                [ngClass]="{'col-span-full' : i === 2}">
                <img class=" cursor-pointer font-erode" [src]="module.url" [title]="module.title">
                <img [src]="check.src" alt=""
                    class="w-[20px] aspect-[1/1] img absolute top-[50%] left-[70%] opacity-0 invisible"
                    [ngClass]="{'check' : [1].includes(i)}">
                <p class="opacity-0 invisible font-erode">{{module.title}}</p>
            </div>
        </div>
        <section
            class="shadow-2xl p-6 rounded-3xl  leading-5 md-homepage:flex md-homepage:flex-row-reverse justify-evenly items-center md-homepage::col-start-2 md-homepage:col-span-3 dark:shadow-theme-green-dark"
            *ngFor="let section of [0, 1]; let i = index" [ngClass]="{'backEnd' : i === 1}">
            <div class="text-center">
                <p class="text-3xl sm:mt-5 md-homepage:text-5xl mb-3 font-satoshi">{{i === 0 ? "front - end" : "back
                    -end"}}
                </p>
                <p class="text-2xl mb-3 font-satoshi">IDE</p>
                <p class="font-satoshi">{{i === 0 ? 'Visual Studio Code' : 'Eclipse Spring Tool Suite'}}
                </p>
            </div>
            <div class="grid grid-cols-2 place-items-center gap-6 language-container md-homepage:w-2/3">
                <div class="cursor-pointer p-6 rounded-3xl circle-to-rectangle flex justify-between items-center relative divImg"
                    *ngFor="let language of (i === 0 ? obj.front_end : obj.back_end); let j = index" [ngClass]="{
                        'col-span-full' : obj.front_end && i === 0 && j === 6 || obj.back_end && i === 1  && j === 2
                    }">
                    <img [src]="language.url" [title]="language.title" id="language">
                    <img [src]="check.src" alt=""
                        class="w-[20px] aspect-[1/1] img absolute bottom-[10%] left-[70%] opacity-0 invisible"
                        [ngClass]="{'check' : obj.front_end && i === 0}">
                    <span class="block opacity-0 font-erode">{{language.title}}</span>
                </div>
            </div>
        </section>
        <div
            class="flex flex-col items-center justify-center gap-6 language-container p-6 rounded-3xl font-satoshi module dark:shadow-theme-dark">
            <p>VCS</p>
            <img class="cursor-pointer" src="{{obj.VCS}}" alt="{{obj.VCS}}" title="Git">
            <p class="opacity-0 invisible font-erode">Git</p>
        </div>
        <!-- <div class="flex justify-center mt-16 w-full">
            <span *ngFor="let i of [0,1,2]" class="w-[30px] aspect-[1/1] rounded-full block ml-10 sphere-{{i}}"></span>
        </div> -->
        <footer class="relative col-span-full">
            <div class="p-5 md-homepage:w-[90%] mt-10" id="contact">
                <p class="text-center mb-7 font-satoshi">hover - them | for - social</p>
                <div class="flex justify-evenly">
                    <div class="bg-icon bg-instagram-[opacity-0] hover:bg-instagram">
                    </div>
                    <div class="bg-icon bg-linkedIn-[opacity-0] hover:bg-linkedIn">
                    </div>
                    <div class="bg-icon bg-github-[opacity-0] hover:bg-github"></div>
                </div>
            </div>
            <span
                class=" inline-block w-max absolute bottom-14 left-[80%] font-mono font-clashDisplay hover:text-[cadetblue] transition-all duration-300"
                id="scrollUp"><a href="#home">SCROLL - UP</a>
            </span>
        </footer>
    </div>
</div>