<div class="p-4 md-homepage:grid lg:grid-cols-4">
    <div class="md-homepage:grid md-homepage:grid-cols-4 lg:col-span-4 gap-8">
        <app-experience-me [me]="me"
            class="p-6 rounded-3xl h-[100%] col-span-full w-[100%] dark:shadow-theme-dark"></app-experience-me>
        <hr class="w-full col-span-full mt-10">
        <p class="p font-satoshi">tecnologie affrontate</p>
        <app-language [check]="check"
            class="p-6 rounded-3xl h-[100%] col-span-full w-[100%] dark:shadow-theme-dark"></app-language>
        <app-footer class="col-span-full"></app-footer>
    </div>
</div>